@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);

body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    max-width: 800px;
}

h2, h3, h4, h5, h6 {
    font-style: italic;
    font-weight: 400;
}

a {
    color: rgb(0,102,204);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
